[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/metadata-Leaders
	label-Verified = -1..+2 group TYPO3v4/Extensions/metadata-Leaders
	submit = group TYPO3v4/Extensions/metadata-Members
	create = group TYPO3v4/Extensions/metadata-Leaders
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/metadata-Members
	label-Verified = -1..+2 group TYPO3v4/Extensions/metadata-Members
	submit = group TYPO3v4/Extensions/metadata-Leaders
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Extensions/metadata-Leaders
	create = group TYPO3v4/Extensions/metadata-Leaders
[project]
	state = active
[access "refs/for/refs/heads/*"]
	pushMerge = group TYPO3v4/Extensions/metadata-Leaders
	pushMerge = group TYPO3v4/Extensions/metadata-Members
	forgeCommitter = group TYPO3v4/Extensions/metadata-Leaders
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group TYPO3v4/Extensions/metadata-Leaders
